{% extends "Page.html.twig" %}
{% block body %}
    <section class="module bg-dark-60 about-page-header" data-background="{{ asset('front/images/shop/b1.jpg')}}">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">Add</h2>

                </div>
            </div>
        </div>
    </section>
{% endblock body %}
{% block container  %}
    <table border="1">
        {% for a  in list %}

            <tr>
                    <td>
                        {{ a.nom }}
                    </td>
                 <td><a href="{{ path("region_update",{"id":a.id_reg})}}">update</a></td>
                 <td><a href="{{ path("region_delete",{"id":a.id_reg})}}"> supprimer </a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
